  
section {
    // margin: 20px auto;
        border-radius: 3px;
        background-color: #d1a469;
        width: 40%;
        height: 300px;
        overflow: scroll;
        // margin-bottom: 70px;
        position: absolute;
        top: 360px;
        left: 31%;
}